<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li>{{comments[2] }}</li>
         </ul>
        <br>
        <label for="">Add Comment</label><br>
        <input type="text" v-model="content">
        <button @click="AddComment">Comment</button>
        <br>

        <ul>
            <li v-for="(comment, index) in comments">
                <button @click="RemoveComment(index)">Delete</button>
                {{comment.value}} || {{comment.datetime}} ||{{comment.point}} 
                <button @click="Upvote(index)">+</button>

        </ul>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <script src ="assets/js/app.js"></script>
        <script src="assets/vendor/vue.js"></script>
        
   
</body>
</html>